  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <h1>Lingua</h1>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/languages">Browse Languages</a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
