html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: #565264;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(10,minmax(0,1fr));
  grid-template-rows: repeat(10,minmax(0,1fr));
}

footer {
  background-color: #A8DCD9;
  grid-column: 1/11;
  grid-row: 11/11;
  display: flex;
  justify-content: center;
  font-family: 'Special Elite', cursive;
}

nav {
  background-color: #A8DCD9;
  grid-column: 1/11;
  grid-row: 1/2;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 7vh;
  padding: 0 20px;
  font-size:20px;
}

#website-name{
  display: flex;
  align-self: center;
  font-size: 60px;
  font-family: 'Special Elite', cursive;
  margin: 0 0 0 10px;
}

.logout-btn {
  padding: 10px;
}

.login-btn {
  align-self: center;
  margin: 0 0 0 700px;
}

.nav-links > * {
  padding: 30px;
  font-family: 'Special Elite', cursive;
}

.main-body{
  grid-column: 1/11;
  grid-row: 2/11;
  margin: 20px;
  display: grid;
  background-color: #C58882;
  font-family: 'Special Elite', cursive;
}

.main-body > h1 {
  max-height: 40px;
  margin: 15px 0 0 20px;
}

p {
  font-size: 12px;
}

.new-language {
  display: inline-block;
  font-size: 20px;
  grid-column: 6/7;
  margin: 25px 0;
}

.browse-languages {
  display: inline-block;
  flex-direction: column;
  width: 40%;
  height: 100%;
  grid-column: 1/5;
  font-size: 20px;
  width: 100%;
}

.delete-lang {
  margin: 10px;
}

.new-resource > form {
  display:inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  font-size: 20px;
}

.new-resource {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

input, label, option, .new-r-btn {
  margin: 5px;
}

.new-resource > input {
  padding: 30px;
  margin: 30px;
}

.edit-resource > form {
  display:inline-flex;
  flex-direction:column;
}

.patch-resource, .delete-resource {
  display: inline;
}

.delete-lang {
  display: inline;
}

.showcollectedResources {
  margin: 5px 10px;
}

.latestResources {
  display: flex;
  flex-direction: row;
  padding: 0 0 20px 0;
  margin: -70px 0 20px 0;
  justify-content: space-around;
}

.collectedResources {
  display: flex;
  flex-flow: row;
  margin: 0 60px;
}

.collectedResources > .card {
  padding: 10px;
  margin: 20px;
}

.scoreboard > img {
  margin: -60px 30px 0 30px;
}

.scoreboard > .trophy {
  width: 5%;
}

.scoreboard > .placeholder {
  width: 13%;
}

.home-page {
  margin: 40px 0 0 20px;;
}

article.flashcards {
  margin: 10px;
  border: 1px rgba(255, 255, 255, 0.03) solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.userInfo {
  grid-column: 1/3;
  grid-row: 1/11;
  background-color: green;
  text-align: center;
}

.collectedResources {
  grid-column: 3/10;
  grid-row: 1/9;
  background-color: yellow;
}

.flash-container {
  margin: 20px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-column: 3/11;
  grid-row: 10/10;
  background-color: blue;
}

.flashcard-buttons {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flashcard-buttons > * {
  padding: 20px;
  margin: 20px;
}

.flashcard > p {
  text-align: center;
  font-size: 70px;
}